@import url('../assets/css/google-fonts.css');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #404040;
  background: #2a2a2a;
  font-weight:400;
  overflow: hidden;
}

.container {
  margin-left: 15px;
  margin-right:15px;
}

.printDetailsContainer h3 {
  padding: 0 0 5px 0;
  font-size: 1.7em;
}

.fade {
  color: rgb(180, 180, 180);
}

.ellipsis {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  display: block;
  position: relative;
}

.dot {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.ams-type-remaining {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.ams-container {
  padding-bottom: 15px;
}

.grid {
  display: block;

}

.grid-gap-30 {

}

.grid-gap-10 {

}

.dot-content {
  padding-bottom: 20px;
}

.dot-content .flex {
  align-items: center;
}

.dot-content .flex .material-symbols-outlined {
  color: #999;
  align-self: flex-end;
  font-size: 2em;
}

.badge-active {
  color: #000;
  background: #51a34f;
  border-radius: 10rem;
  padding: 0 .75em .15em;
  font-size: 1.25em;
  font-weight: 700;
  margin:0 20px 0 20px;
}
  
.column {
align-items:center;
}

.model-image {

align-items:center;
}
.model-image-test {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), rgb(208, 208, 208);
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), rgb(208, 208, 208);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), rgb(208, 208, 208);
  background-repeat: repeat, repeat;
  background-position: 0px 0, 5px 5px;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: 10px 10px, 10px 10px;
  background-size: 10px 10px, 10px 10px;
  -webkit-box-shadow: none;
  box-shadow: 1px;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
}
.grid-columns-2 {
    display: grid;
    grid-gap: 20px;
    padding: 25px 30px;
    margin: 0px 0 10px 0;
}
.grid-columns-3 {
  display: grid;
  grid-gap: 20px;
  padding: 5px 5px;
  margin: 0px 0 10px 0;
}

.progress-segment {
  display: flex;
}

.humidity-item {
  width: 100%;
  background-color: lightgray;
  margin-right: 4px;
  height: 8px;
}
.humidity-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.humidity-item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.humidity-item.green-common {
  background: #51a34f;
}
.humidity-item.yellow-common {
  background: yellow;
}
.humidity-item.red-common {
  background: darkred;
}

.version {
  text-align: right;
  color: #fff;
}

.model-image img {

  overflow: hidden;
  border-radius: 1rem;

}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.finePrint.grid {

}

.bedcontainer {
    margin-top: 15px;

}

.light-border{
  border-radius: 6px;
}

.partTitle {
  margin-bottom:15px;
  letter-spacing: .05em;
}

.material-percentage {
  text-shadow: 0 1px black;
  color: rgb(180, 180, 180);
  font-size: 1.2em;
}

.progress-wrapper {
  align-items: center;

}

.progress-bar {
  background-color: #51a34f;
  width: 100%;
  height: 8px;
  border-radius: 2px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  align-items: center;
}

.fan-container {
  justify-content: space-evenly;
  padding-bottom: 20px;
}


.progressTitle {
  font-size: 1.4em;
  color: #ffffff;
  padding-bottom: 10px;
}

.element {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding: 8px 0;
  align-items: center;
}

.progressPercentage
{
  display: block;
  color: white;
  font-size: 1em;
  font-weight: 200px;
  margin-top: 2px;
}

.finePrint {
  color: rgb(180, 180, 180);
  font-size: 1.25em;
  text-shadow: 0 1px black;
}

.printStatus {
  color: white;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.printRemaining {
  font-weight: 600 !important;

}

.nozzleType {
  display: flex;
  font-size: 1em;
  margin-left: 25px;
}

.speed {
  color: #51a34f;
}

.fan-spin-slow
{
    -webkit-animation: spin 4s infinite linear;
}

.fan-spin-slower
{
    -webkit-animation: spin 3s infinite linear;
    will-change: transform;
}

.fan-spin-normal
{
    -webkit-animation: spin 2s infinite linear;
    will-change: transform;
}

.fan-spin-fast
{
    -webkit-animation: spin 1s infinite linear;
    will-change: transform;
}

.fan-spin-faster
{
    -webkit-animation: spin .5s infinite linear;
    will-change: transform;
}

.fan-spin-veryfast
{
    -webkit-animation: spin .35s infinite linear;
    will-change: transform;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}	
}

.bed-temp {
  display: block;
  color: rgb(180, 180, 180);
  color: white;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}


.bed-title {
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.material-symbols-outlined {
  margin-top: 5px;
  vertical-align: sub;
  color: rgb(150, 150, 150);
}

.fans .material-symbols-outlined {
    font-size: 4em;
}

.fan1 h4,
.fan2 h4,
.fan3 h4,
.fan4 h4 {
  text-align: center;
}

.fan1 span,
.fan2 span,
.fan3 span,
.fan4 span {
  text-align: center;
  width:100%;
}

.fan-percentage {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 1.5em;
  color: rgb(150, 150, 150);
}

h2, h3 {
  color:#fff;
  font-weight: 400; 
}

h1, h2, h3, h4, p {
  text-shadow: 0 1px black;
  margin:0;
}

h4 {
  margin: 5px 0 3px 0;
  font-weight: 400;
}

h3 {
  margin: 5px 0 3px 0;
  font-weight: 400;
  font-size: 1.3em;
}

p {
  color:#fff;
  font-weight: 400; 
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       https://css-tricks.com/webkit-sibling-bug/
 */

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: rgb(180, 180, 180);
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}


.pulsating-circle {

  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
}
.pulsating-circle:before {

  width: 300%;
  height: 300%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #51a34f;
  -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
          animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating-circle:after {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
          animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
